In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df_autoconsumo = pd.read_parquet('expedientes_completo.parquet')

In [3]:
df_autoconsumo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1910628 entries, 0 to 1910627
Data columns (total 18 columns):
 #   Column               Dtype
---  ------               -----
 0   id_exp               uint32
 1   cod_procedimiento    uint32
 2   dni                  Int32
 3   nif                  Int32
 4   fecha_alta_exp       datetime64[us]
 5   fecha_registro_exp   datetime64[us]
 6   codine_provincia     string
 7   codine_municipio     string
 8   codine               string
 9   municipio            string
 10  provincia            string
 11  unidad_tramitadora   string
 12  denom_procedimiento  string
 13  desc_procedimiento   string
 14  siaci                string
 15  consejeria_proc      string
 16  org_instructor_proc  string
 17  es_telematica        object
dtypes: Int32(2), datetime64[us](2), object(1), string(11), uint32(2)
memory usage: 236.9+ MB

consejeria_proc      'Consejeria de desarrollo sostenible'
org_instructor_proc  'Direccion general de transicion energetica'
denom_procedimiento  'SLPT - Ayudas para actuaciones de autoconsumo en el sector residencial, las administraciones públicas y el tercer sector'
desc_procedimiento   'Convocatoria de los programas de incentivos 4 y 5 para actuaciones de autoconsumo, con fuentes de energias renovables, en el sector residencial, las administraciones publicas y el tercer sector.'
siaci                'SLPT'

In [5]:
columns_to_drop = ['org_instructor_proc',
                   'consejeria_proc',
                   'denom_procedimiento',
                   'desc_procedimiento',
                   'unidad_tramitadora',
                   'siaci',
                    'cod_procedimiento']
df_autoconsumo_simple = df_autoconsumo.drop(columns = columns_to_drop)

In [7]:
df_autoconsumo_simple.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1910628 entries, 0 to 1910627
Data columns (total 11 columns):
 #   Column              Dtype
---  ------              -----
 0   id_exp              uint32
 1   dni                 Int32
 2   nif                 Int32
 3   fecha_alta_exp      datetime64[us]
 4   fecha_registro_exp  datetime64[us]
 5   codine_provincia    string
 6   codine_municipio    string
 7   codine              string
 8   municipio           string
 9   provincia           string
 10  es_telematica       object
dtypes: Int32(2), datetime64[us](2), object(1), string(5), uint32(1)
memory usage: 142.1+ MB

In [8]:
df_autoconsumo_simple.head()

,id_exp,dni,nif,fecha_alta_exp,fecha_registro_exp,codine_provincia,codine_municipio,codine,municipio,provincia,es_telematica
0,14891,<NA>,392544,2012-08-30 13:26:39,NaT,45,142,45142,Quintanar de la Orden,Toledo,None
1,14906,392596,<NA>,2012-08-31 11:03:11,NaT,45,165,45165,Talavera de la Reina,Toledo,None
2,14915,64299,<NA>,2012-08-31 12:47:29,NaT,45,168,45168,Toledo,Toledo,None
3,14916,337824,<NA>,2012-08-31 13:05:37,NaT,02,072,02072,Socovos,Albacete,None
4,14917,392636,<NA>,2012-08-31 13:18:10,NaT,35,022,35022,Santa Lucía de Tirajana,"Palmas, Las",None